body {
  font-weight: 800;
}
.modal-content,
.form-control,
.well {
  background: url("../img/bg.jpg");
}
.panel,
.alert,
.boxes {
  border-radius: 8px;
}
.header {
  text-align: center;
}
.alert,
.panel {
  text-align: left;
  margin-top: 5px;
}
.panel-hud {
  color: #000;
}
h6 {
  margin-left: 5px;
  margin-top: 13px;
  font-family: sans-serif;
  text-align: left;
  line-height: 5px;
}
/* Research Bars */
.progress-bar {
  width: 100%;
  height: 1.3em;
  color: #000;
}
.progress-wrap {
  background: #d9534f;
  overflow: hidden;
  position: relative;
}
.researchProgress,
.researchingComment {
  line-height: 39px;
  color: #fff;
}
.info {
  overflow: hidden;
  max-height: 210px;
}
.info p {
  text-align: left;
}
.well {
  padding-top: 0;
}
.btn {
  margin-top: 0.5em;
}
.btn.disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  color: #000;
}
.btn.disabled .label span {
  background: none;
}
.btn-primary {
  background-color: #96610d;
  background-image: -webkit-linear-gradient(top, #cc9734, #96610d);
  background-image: -moz-linear-gradient(top, #cc9734, #96610d);
  background-image: -ms-linear-gradient(top, #cc9734, #96610d);
  background-image: -o-linear-gradient(top, #cc9734, #96610d);
  background-image: linear-gradient(top, #cc9734, #96610d);
  background-repeat: repeat-x;
  border-color: #c78019;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #8f5c0c;
  background-image: -webkit-linear-gradient(top, #c29031, #8f5c0c);
  background-image: -moz-linear-gradient(top, #c29031, #8f5c0c);
  background-image: -ms-linear-gradient(top, #c29031, #8f5c0c);
  background-image: -o-linear-gradient(top, #c29031, #8f5c0c);
  background-image: linear-gradient(top, #c29031, #8f5c0c);
  background-repeat: repeat-x;
  background-color: #96610d;
}
.btn-danger {
  background-color: #a94442;
}
.btn-danger:hover {
  background-color: #c12e2a;
}
.hudList {
  display: inline;
  list-style-type: none;
  text-align: justify;
}
.modal-footer button {
  margin-left: 5em;
}
/***********************/
/*    Helpers         */
/*********************/
.justify {
  min-width: 100%;
  max-width: 100%;
}
/***********************/
/*    Colors         */
/*********************/
.btn-iron,
.btn-iron .label {
  background-image: -webkit-linear-gradient(top, #888 0%, #999 100%);
  background-image: linear-gradient(top, #888 0%, #999 100%);
  background-color: #888;
  color: #000;
}
.btn-copper {
  background-image: -webkit-linear-gradient(top, #9f6d55 0%, #8f5d48 100%);
  background-image: linear-gradient(top, #9f6d55 0%, #8f5d48 100%);
  background: #9f6d55;
  color: #000;
}
.btn-silver {
  background-image: -webkit-linear-gradient(top, #c0c0c0 0%, #b8b8b8 100%);
  background-image: linear-gradient(top, #c0c0c0 0%, #b8b8b8 100%);
  background: #c0c0c0;
  color: #000;
}
.btn-gold {
  background-image: -webkit-linear-gradient(top, #ffd700 0%, #f4cc00 100%);
  background-image: linear-gradient(top, #ffd700 0%, #f4cc00 100%);
  background: #ffd700;
  color: #000;
}
.dimgray {
  color: #444;
}
